# Dependencies
node_modules

# Secrets
.env
.env.testnet

# Build
dist
tsconfig.tsbuildinfo

# Misc
yarn-error.log
postgres/
scripts/

# IDE
*.iml
.idea
.DS_Store
.yarnclean
ecosystem.config.cjs
coverage/
